---
import DefaultLayout from '../components/LayoutDefault.astro';

---


<DefaultLayout documentTitle="Books" documentDescription="">
    <section class="container">
        <div class="left-column">
            <div class="row">
                <h2>Non-Fiction</h2>
                    <ul>
                        <li><a href="https://www.amazon.com/How-Win-Friends-Influence-People/dp/0671027034">How to Win Friends and Influence People</a> by Dale Carnegie</li>
                        <!-- Add more book items here -->
                    </ul>
            </div>
        </div>
        <div class="right-column">
            <!-- Add content for the right side here -->
            <ul>
                <li><a href="https://www.amazon.com/How-Win-Friends-Influence-People/dp/0671027034">How to Win Friends and Influence People</a> by Dale Carnegie</li>
                <!-- Add more book items here -->
            </ul>
        </div>
    </section>
</DefaultLayout>


<style lang="scss">
    .container {
        display: flex;
        justify-content: space-between;
    }

    .left-column {
        flex: 1;
    }

    .right-column {
      flex: 1;
    }
  </style>