---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
	<div>
		<div class="text-4xl w-full font-bold mb-5">Projects 💼</div>
		<text class="text-lg">
			Step into the realm of my portfolio, where I unveil an assortment of categorized
			enchanting side projects I've conjured into existence.
		</text>
	</div>

	<div class="grid grid-cols-1 justify-items-center mt-10 ">
		<div role="tablist" class="tabs tabs-boxed ">
			<a role="tab" class="tab tab-active" data-tag="ML/AI 🤖">ML/AI 🤖</a>
			<a role="tab" class="tab" data-tag="Web Applications 🌐">Web Applications 🌐</a>
			<a role="tab" class="tab" data-tag="Desktop Applications 🖥️">Desktop Applications 🖥️</a>
			<a role="tab" class="tab" data-tag="Android Applications 📱">Android Applications 📱</a>
		</div>
		<!-- <div class="text-2xl w-full font-bold mb-5"></div> -->
	</div>




	<HorizontalCard
		title="Portfolio Website"
		img="/projects/portfolio.png"
		url="https://seyidev.tech/"
		badge="1701988658",		
		datatags={["Web Applications 🌐"]},
		tags={["Web Development", "AstroJS", "TailwindCSS"]}>
		/>
		<div slot="description">
			<p>
				This Portfolio Site Built with Astro during my freetime is optimized for speed and
				search engines, designed with recruiters and tech enthusiasts in mind to efficiently
				access information about my skills, experience, and projects.
				<abbr
					title="Inspiration and initial starter template was gotten from an astro theme"
					>💡</abbr
				>
			</p>
		</div>

		<div class="divider my-0"></div>
	</HorizontalCard>

	<HorizontalCard
		title="AI Driven School Management System"
		img="/projects/school-lms.png"
		url="https://shccabeokuta.com/"
		badge="1631054258",
		datatags={["Web Applications 🌐"]},
		tags={["Web Development", "Python", "Django", "Bootstrap", "Machine Learning"]}>
		/>
		<div slot="description">
			<p>
				This web app streamlines secondary school operations, offering an intuitive
				interface for assessment management and dynamic data visualization for parents.
				Integrating machine learning, it predicts student performance based on assignment
				scores and tests, empowering students. Efficient Administrative and Management
				systems enhance overall institution operations.
			</p>
		</div>

		<div class="divider my-0"></div>
	</HorizontalCard>

	<HorizontalCard
		title="ARQMail - Email Marketing Automation Tool"
		img="/projects/arqmail.png"
		url=""
		message="Project Not publicly available"
		badge="1649372400",
		datatags={[]},
		tags={["API Development", "Python", "FastAPI", "👥 Team"]}>
		/>
		<div slot="description">
			<p>
				Built the Backend of the application which empowers users to effortlessly send
				emails to specified contact lists using customizable templates. It supports flexible
				SMTP/proxy settings, allowing users to tailor their email delivery preferences.
				Additionally, the implementation of innovative subscription plans ensures efficient
				management of email quotas for varying communication needs.
			</p>
		</div>

		<div class="divider my-0"></div>
	</HorizontalCard>

	<HorizontalCard
		title="StaArchive - Archive Application"
		img="/projects/staarchive.png"
		url="https://staarchive.com.ng/"
		badge="1688770800",
		datatags={[]},
		tags={["Web Development", "Python", "Django", "Bootstrap", "AWS"]}>
		/>
		<div slot="description">
			<p>
				Empowering academic collaboration, this Django web app lets authorized university
				users upload and access past questions, projects, and textbooks. With features like
				secure login, role-based access control, signal-driven reports, and automatic
				thumbnail generation, the app promotes knowledge exchange and streamlines resource
				management through robust performance and detailed log management.
			</p>
		</div>

		<div class="divider my-0"></div>
	</HorizontalCard>

	<HorizontalCard
		title="Ki67 Counter"
		img="/projects/ki67.png"
		url="https://ki67.app/"
		badge="1688770800",
		datatags={[]},
		tags={["Api Development", "Python", "FastAPI", "MATLAB", "👥 Team"]}>
		/>
		<div slot="description">
			<p>
				Translated a MATLAB-based Ki67 cell counting code into a Python library and
				developed an API backend. This backend, hosted on a server, seamlessly processes
				image inputs with user-defined thresholds, providing an accurate count of Ki67
				cells. The deployment enhances accessibility to this critical research tool,
				showcasing my proficiency in biomedical informatics, algorithm translation, and API
				development for impactful scientific advancements..
			</p>
		</div>

		<div class="divider my-0"></div>
	</HorizontalCard>

	<HorizontalCard
		title="Roulette Prediction Software With AI"
		img="/projects/rouletteaid.png"
		url="https://rouletteaid.com/our-software/"
		badge="1675810800",
		datatags={[]},
		tags={["Desktop Development", "Machine Learning", "Python", "PySide6", "👥 Team"]}>
		/>
		<div slot="description">
			<p>
				Led the development of Roulette Aid, a desktop application using Python and PyQt,
				with a focus on machine learning for 90%+ accuracy in predicting roulette outcomes.
				Key achievements include implementing a secure authentication system, designing a
				flexible licensing system, and establishing update functionality through an FTP
				server. Efficient process management was ensured using signals and queues, while
				Code Obfuscation was applied to safeguard the codebase and intellectual property.
			</p>
		</div>

		<div class="divider my-0"></div>
	</HorizontalCard>

	<HorizontalCard
		title="Skin Lesion Segmentation"
		img="/projects/skin-lesion.png"
		url="https://github.com/thoth2357/skin-Lesion-Segmentation/tree/master/Matlab-Version"
		badge="1675810800",
		datatags={[]},
		tags={["Desktop Development", "Machine Learning", "MATLAB", "PySide6", "👥 Team"]}>
		/>
		<div slot="description">
			<p>
				Developed robust computer vision models using MATLAB for a client project,
				leveraging advanced image segmentation techniques. The models were specifically
				designed to autonomously distinguish skin lesions from ground truth images,
				showcasing a meticulous approach to medical imaging. Evaluated the model's
				performance through meticulous quantification using dice similarity scores and
				strategically selected relevant features, ensuring a comprehensive and effective
				solution for dermatological image analysis.
			</p>
		</div>

		<div class="divider my-0"></div>
	</HorizontalCard>

	<HorizontalCard
		title="Job Board Application"
		img="/projects/skin-lesion.png"
		url="https://github.com/thoth2357/skin-Lesion-Segmentation/tree/master/Matlab-Version"
		badge="1675810800",
		datatags={[]},
		tags={["Web Development", "Python", "Django", "Bootstrap", "Redis"]}>
		/>
		<div slot="description">
			<p>
				Spearheaded the development of a dynamic job board
				application using Django, Jinja templating, and Bootstrap for frontend design.
				Leveraging Django ORM and Beautiful Soup, I automated job scraping from mulitple sources, enhancing the
				platform's efficiency. With streamlined resume submissions, user-star ratings, and
				intricate filtering options, the app provides an exceptional user experience.
				Prioritizing strong user authentication and meticulous error monitoring, I employed
				Celery and redis for task scheduling and comprehensive cron job monitoring. The result is a
				robust, reliable, and feature-rich job board platform.
			</p>
		</div>

		<div class="divider my-0"></div>
	</HorizontalCard>
</BaseLayout>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll('[role="tab"]');
    const cardsContainer = document.getElementById('cards-container');

	// Hide all cards initially
	const cards = document.querySelectorAll('.horizontal-card');
	cards.forEach(card => {
		card.style.display = 'none';
	});

	// Show cards corresponding to the initial active tab
	const initialActiveTab = document.querySelector('.tab-active');
	if (initialActiveTab) {
		const initialTag = initialActiveTab.getAttribute('data-tag');
		const initialTagCards = document.querySelectorAll(`.horizontal-card[data-tags*="${initialTag}"]`);
		initialTagCards.forEach(card => {
		card.style.display = 'block';
		});
	}
    tabs.forEach(tab => {
		tab.addEventListener('click', function () {
			// Remove active class from all tabs
			tabs.forEach(t => t.classList.remove('tab-active'));
			
			// Add active class to the clicked tab
			this.classList.add('tab-active');

			// Get the clicked tab's data-tag attribute value
			const selectedTag = this.getAttribute('data-tag');
			console.log(selectedTag);

			// Show/hide cards based on the selected tag
			const cards = document.querySelectorAll('.horizontal-card');
			// console.log(cards);

			cards.forEach(card => {
				const cardTags = card.getAttribute('data-tags').split(',');
				console.log(card, cardTags);
				if (cardTags.includes(selectedTag)) {
					card.style.display = 'block';
				} else {
					card.style.display = 'none';
				}
				});
		});
    });
});
</script>
