<div class="tipOfday">
    <h3>Tip of the Day</h3>
    <p id="tip">

    </p>
</div>

<style lang="scss">
    .tipOfday {
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        z-index: 1000; /* Ensure it's on top of other content */
    }
</style>

<script>
    import { getTipOfTheDay } from "../js/tipOfTheDay.js";

    // Get the tip of the day.
    const tipContainer = document.getElementById('tip');
    tipContainer.innerText = getTipOfTheDay();

    // Close the tip of the day after 5 seconds.
    setTimeout(() => {
        document.getElementById('.tipOfday').classList.add('hidden');
    }, 2000);
</script>